.dash-container {
  border: outset;
  padding: 2%;
  height: 100%;
  width: 100%;
  /* margin: 0 4%; */
  margin-top: 7%;
}
.dash-header {
  border: outset;
  height: auto;
  display: flex;
  margin: 0 10%;
  padding: 0 5%;
}

.user-details{
      display: grid;
    align-content: center;
    justify-content: space-evenly;
    /* align-items: baseline; */
    justify-items: start;
    margin-left: 10%;
}
.user-image{
  margin: 2% 0;
}
.user-details p{
 padding: 10px;
 margin: 0 5%;
 /* color: black; */
 background-color: #ffffff;
 border-radius: 10% 5%;
 width: 355px;
 text-align: start;
}
.dash-profile-pic {
  border: dashed;
  width: 100px;
  height: 95%;
  border-radius: 50px;
  margin-left: 10px;
  background-image: url("https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
}
.dash-username {
  width: 80%;
  text-align: center;
  padding: 06%;
}
.dash-details{
  border: double;
  height: 82%;
}
.dash-card{
  height: 5%;
  width: 5%;
  border: solid;
  border-radius: 50px;
}